<script src="/socket.io/socket.io.js"></script>
<link rel="stylesheet" type="text/css" href="index.css" />

<% if (currentUser) { %>
<script type="module">
  import GameEngine from "./GameEngine.js";
  window.onload = async () => {
    var canvas = document.getElementById("canvas");
    window.socket = io();
    window.canvas = canvas;
    window.canvasContext = canvas.getContext("2d");
    await fetch("/user", { credentials: "include" }).then(user =>
      user.json().then(data => (window.user = data))
    );
    let engine = new GameEngine();
    engine.run();
  };
</script>
<% } %>

<body>
  <% if(!currentUser){ %>
  <!-- BROOK MAKE PRETTY PLEASE -->
  <div id="formsContainer">
    <form method="POST" action="/login">
      <input type="text" name="username" placeholder="username" />
      <input type="password" name="password" placeholder="password" />
      <button>Login</button>
    </form>

    <form method="POST" action="/register">
      <input type="text" name="username" placeholder="username" />
      <input type="password" name="password" placeholder="password" />
      <button>Sign up</button>
    </form>
  </div>
  <% } else { %>
  <div id="logoutContainer">
    <a href="/logout">Log out</a>
  </div>
  <div id="canvasDiv">
    <canvas id="canvas" width="1280" height="720"> </canvas>
  </div>
  <% } %>
</body>
