#canvas {
  width: 1280px;
  margin: auto;
  display: block;
  height: 720px;
}
#logoutContainer {
  text-align: center;
}
#formsContainer {
  margin: auto;
  text-align: center;
  padding-top: 300px;
}
