<script src="/socket.io/socket.io.js"></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.15/lodash.min.js"
  integrity="sha256-VeNaFBVDhoX3H+gJ37DpT/nTuZTdjYro9yBruHjVmoQ="
  crossorigin="anonymous"
></script>
<link rel="stylesheet" type="text/css" href="index.css" />

<% if (currentUser) { %>
<script type="module">
  window.onload = async () => {
    var canvas = document.getElementById("canvas");
    window.socket = io();
    window.canvas = canvas;
    window.canvasContext = canvas.getContext("2d");
    await fetch("/user", { credentials: "include" }).then(async (user) => {
      await fetch("/levels", { credentials: "include" }).then(
        async (levels) => {
          await levels.json().then((data) => (window.levels = data));
          await user.json().then((data) => (window.user = data));
          const GameEngine = await import("./GameEngine.js");
          const MouseTracker = await import("./MouseTracker.js");
          window.mouseTracker = new MouseTracker.default(10, 30);
          let engine = new GameEngine.default();
          engine.run();
        }
      );
    });
  };
</script>
<% } %>

<body>
  <% if(!currentUser){ %>
  <div id="title">adventures of baby yoda</div>
  <div id="subtitle">a 4770 project</div>
  <div id="bb-yoda-hero"></div>
  <div id="formsContainer">
    <form method="POST">
      <input type="text" name="username" placeholder="username" />
      <input type="password" name="password" placeholder="password" />
      <div class="buttons">
        <button type="submit" formaction="/login">Login</button>
        <button type="submit" formaction="/register">Sign up</button>
      </div>
    </form>
  </div>
  <% } else { %>
  <div id="logoutContainer">
    <a href="/logout">Log out</a>
  </div>
  <div id="canvasDiv">
    <canvas style="opacity: 1;" id="canvas" width="1600" height="900"> </canvas>
  </div>
  <% } %>
</body>
